* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-logo {
  width: 3.75rem;
  height: 3.75rem;
  margin-top: 3.75rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 330px;
  height: 30rem;
  border-radius: 30px;
  background: #FFFFFF;

  margin-top: 8rem;;

}

.login h1 {
  color: #333333;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
}

.login > span {
  color: #828282;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

.login > span:hover {
  color: #999
}

button {
  width: 300px;
  height: 3.75rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;

  border: 1px solid #C8C5C5;
  margin-bottom: 1rem;

  background: #ffffff;
  font-weight: 700;
}

button:hover {
  background: #ECE9FD;
  border: none;
  transition: all 0.2s;
}

button img {
  width: 1rem;
  height: 1rem;
}

.google {
  border: none;
  background: #5627FF;
  color: #ffffff;
}

.google:hover {
  background: #3C2298;
}
